<div class="card-header w-100 d-flex justify-content-center align-content-center ui-card__header">
  <h1>Microsense UI - Available Readers</h1>
</div>

<hr>

<script>
  import fontawesome from "@fortawesome/fontawesome";
  import { faSearch, faTimes } from "@fortawesome/fontawesome-free-solid";

  fontawesome.library.add(faSearch, faTimes);

  export default {
    methods: {
      handleChange(str = undefined) {
        const input = document.querySelector('.card-header__input');
        if (str === 'reset') {
          input.value = '';
        }
        this.set({
          city: input.value.split(', ')[0]
        });
      },

    }
  };
</script>

<style>
  .ui-card__header {
    background-color: transparent;
    border-bottom: none;
    z-index: 500;
  }

  .card>hr {
    margin: 0 1rem;
  }
</style>